:root {
  --primary-bg: #0e0e0e; 
  --secondary-bg: #1c1c1c; 
  --accent-color: #b96cff; 
  --text-color: #fff;
  --text-muted: #aaa;
  --border-color: #2f2f2f;
  --input-bg: #121212;
}


body {
    background: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
    font-family: 'Libre Franklin', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

main.container {
    background: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: var(--accent-color);
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.95rem;
    color: var(--text-color);
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: 600;
}

input[type="email"],
input[type="password"],
input[name="nome"]{
    width: 93%;
    padding: 12px;
    background: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 1rem;
    transition: 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[name="nome"]:focus{
    border-color: var(--accent-color);
    box-shadow: 0 0 5px rgba(185, 108, 255, 0.5);
    outline: none;
}

.btn {
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    padding: 12px;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 30px;
    transition: background 0.3s, transform 0.1s;
}

.btn:hover {
    background: #a34de7; 
    transform: translateY(-1px); 
}

.container p {
    text-align: center;
    margin-top: 25px;
    font-size: 0.95rem;
    color: var(--text-muted);
}

.container p a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.container p a:hover {
    color: #c49eff;
    text-decoration: underline;
}

